<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <h3>슬라이더 이용한 색 만들기</h3>
    <div id="app">
    R<input type="range" min=0, max=255 v-model="R"><br>
    G<input type="range" min=0, max=255 v-model="G"><br>
    B<input type="range" min=0, max=255 v-model="B"><br>
    <p v-bind:style="{backgroundColor:mixColor}">{{mixColor}}</p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                R:200,
                G:150,
                B:100
                             
            },
            computed: {
               mixColor: function(){
                   var reColor = "RGB("+this.R+","+this.G+","+this.B+")"
                   return reColor
               }

                }
                
                        
        })
    </script>
</body>
</html>